.card {
   display: inline-block;
   margin: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  word-wrap: break-word;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
  margin: 10px;
  font-size: 12px;
  width: auto;
  text-overflow: ellipsis; 
  
}
.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}
